{%extends '#1AddProd.html'%}
{%load static%}


{%block titulo%}<title>Editar Proveedor</title>{%endblock%}


{%block formulario%}


<div class="testbox">
	<form action="{%url 'EdtProv' proveedor.id%}" method="POST">
		{%csrf_token%}
	  <div class="banner">
		<h1>Editar Proveedor</h1>
	  </div>
	  <br/>
	  <p>
	  <center>

	  </center>
	  </p>
	  <br/>
	  <div class="colums">
		<div class="item">
		  <label for="Razon Social"> Razon Social<span>*</span></label>
		  <input id="id_razonsocial" type="text" name="razonsocial" class="from-input" required/>
		</div>
		<div class="item">
			<label for="Nombre"> Nombre<span>*</span></label>
			<input id="id_nombre" type="text" name="nombre" class="from-input" required/>
		</div>
		<div class="item">
			<label for="Rut"> Rut<span>*</span></label>
			<input id="id_rut" type="number" name="rut" class="from-input" required/>
		</div>  
		<div class="item">
			<label for="Giro"> Giro<span>*</span></label>
			<input id="id_giro" type="text" name="giro" class="from-input" required/>
		</div>
	  <div class="btn-block">
		<button type="submit" href="/">Finalizar</button>
	  </div>
	</form>
  </div>


{%endblock%}

{%block copy%} {%endblock%}