<!DOCTYPE html>
<html lang="en">
	{%load static%}
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Editar Perfil</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{%static 'Tienda/assets/img/favicon1.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/responsive.css' %}">

	    <!-- Custom fonts for this template-->
		<link href="{%static 'Tienda/assets/css/all.min.css' %}" rel="stylesheet" type="text/css">
		<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet">
	
		<!-- Custom styles for this template-->
		<link href="{%static 'Tienda/assets/css/sb-admin-2.min.css' %}" rel="stylesheet">







</head>
<body>
    
		<!-- header -->
		<div class="top-header-area" id="sticker" style="background-color:antiquewhite; position:relative">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 text-center">
						<div class="main-menu-wrap">
							<!-- logo -->
							<div class="site-logo" style="position:inherit;">
								<a href="">
									<img src="{% static 'Tienda/assets/img/GreenFruitLogo2.png' %}" alt="">
								</a>
							</div>
							<!-- logo -->
	
							<!-- menu start -->
							<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{%url 'Home'%}">Home</a>
									
								</li>
								<li><a href="{%url 'NosL' %}" style="color: chocolate;">Nosotros</a>
									<ul class="sub-menu">
										{%if user.is_staff%}
										<li><a href="{%url 'SeeStaff' %}">Staff List</a></li>
										<li><a href="{%url 'AddStf' %}">Añadir Staff</a></li>
										{%endif%}
									</ul>
								</li>
								<li><a href="{%url 'PrdL'%}" style="color: chocolate;">Productos</a>
									<ul class="sub-menu">
										<li><a href="">Lacteos</a></li>
										<li><a href="">Frutas</a></li>
										<li><a href="">Verduras</a></li>
										<li><a href="">Otros</a></li>
										{%if user.is_staff%}
										<li><a href="{%url 'Agregar' %}">Añadir Producto</a></li>
										<li><a href="{%url 'StockA' %}">Stock Activo</a></li>
										<li><a href="{%url 'Cats' %}">Categorias</a></li>
										{%endif%}
										
									</ul>
								</li>
								<li><a href="" style="color: chocolate;">Nuestros Proveedores</a>
									<ul class="sub-menu">
											<li><a href="">¿Quienes son?</a></li>
										{%if user.is_staff %}
										<li><a href="{%url 'Proveedor' %}">Proveedores</a></li>
										<li><a href="{%url 'Agregar' %}">Añadir Proveedores</a></li>
										{%endif%}
									</ul>
								</li>
								<li><a href="" style="color: chocolate;">Comprar</a></li>

								<li><a href="#" class="fas fa-user-circle" style="color: black;"></a>
									<ul class="sub-menu">
							{%if request.user.is_authenticated %}
										<li>{{user.username}}</li>
												
										<li><a href="{%url 'EdtPrf' %}">Editar Usuario</a></li>
										<li> <form action="{% url 'Logout' %}" method="POST">
												{% csrf_token %}
												<button type="submit">
													<i class="fas fa-sign-out-alt">Logout</i></button>    
											</form>
										
										</li>
									</ul>
								</li>
								
								<img src="{{user.avatar.image.url}}" alt="" width="40ppx" height="40ppx">
								
							{%endif%}						
								<li>
									<div class="header-icons">
										
									</div>
								</li>
							</ul>
							
						</nav>
							<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
							<div class="mobile-menu"></div>
							<!-- menu end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end header -->
	


	<!-- breadcrumb-section -->


	<!-- end breadcrumb section -->
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Edicion de Perfil</h1>
                            </div>
                            <form action="{%url 'EdtPrf'  %}" method="POST" class="user" enctype="multipart/form-data">
                                {%csrf_token%}
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="id_username" name="username"
                                        placeholder="Username">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="id_first_name" name="first_name"
                                            placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="id_last_name" name="last_name"
                                            placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="id_email" name="email"
                                        placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="id_password1" name="password1" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="id_password2" name="password2" placeholder="Repeat Password">
                                    </div>
									<div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="file" class="form-control form-control-user"
                                            id="id_imagen" name="imagen" placeholder="Avatar">
                                    </div>
                                </div>
                                <button type="summit" class="btn btn-primary btn-user btn-block"> Editar </button>
                                    
                            </form>
                            <hr>
                           
                        </div> 
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>