{%extends '#1AddProd.html'%}
{%load static%}

{%block titulo%}<title>Añadir Categoria</title>{%endblock%}


{%block formulario%}


<div class="testbox">
	<form action="AddCat" method="POST">
		{%csrf_token%}
	  <div class="banner">
		<h1>Nueva Categoria</h1>
	  </div>
	  <br/>
	  <p>
	  <center>

	  </center>
	  </p>
	  <br/>
	  <div class="colums">
		<div class="item">
		  <label for="Nombre"> Nombre de Categoria<span>*</span></label>
		  <input id="id_nombre" type="text" name="nombre" class="from-input" required/>
		</div>
	  <div class="btn-block">
		<button type="submit" href="/">Finalizar</button>
	  </div>
	</form>
  </div>



{%endblock%}

{%block copy%} {%endblock%}