{}{%extends '#2StockActivo.html' %}
{%load static%}


{%block titulo%}<title>Proveedores</title>{%endblock%}




{%block lista%}

	<h1>Proveedores</h1>
	<div class="tbl-header">
	<table cellpadding="0" cellspacing="0" border="0">
		<thead>
		<tr>
			<a href="{%url 'AddProv' %}" class="bordered-btn" style="position: relative;">Añadir Proveedor</a>
		</tr>
		<tr>

			<th>Razon Social</th>
			<th>Nombre</th>
			<th>Rut</th>
			<th>giro</th>
		
		</tr>
		</thead>
	</table>
	</div>
	<div class="tbl-content">
	<table cellpadding="0" cellspacing="0" border="0">
		<tbody>
	{% for n in proveedores %}
		<tr>
			<td class="product-name">{{n.razonsocial}}</td>
			<td class="product-name">{{n.nombre}}</td>
			<td class="product-name">{{n.rut}}</td>
			<td class="product-name">{{n.giro}}</td>
			<td><a href="{%url 'EdtProv' n.id%}" class="bordered-btn" style="position: relative;">Editar</a></td>
			<td><a href="{%url 'DelProv' n.id%}" class="bordered-btn" style="position: relative;">Eliminar</a></td>
		</tr>
	{% endfor %}
		</tbody>
	</table>
	</div>
	</section>

{%endblock%}