{%extends '#1AddProd.html'%}
{%load static%}



{%block titulo%}<title>Editar Producto</title>{%endblock%}


{%block formulario%}



<div class="testbox">
	<form action="{%url 'EdtPro' id=producto.id %}" method="POST">
		{%csrf_token%}
	  <div class="banner">
		<h1>Editar Producto</h1>
	  </div>
	  <br/>
	  <p>
	  <center>

	  </center>
	  </p>
	  <br/>
	  <div class="colums">
		<div class="item">
		  <label for="Nombre"> Nombre de Producto<span>*</span></label>
		  <input id="id_nombre" type="text" name="nombre" class="from-input" required/>
		</div>
		<div class="item">
		  <label for="Cantidad"> Cantidad a ingresar<span>*</span></label>
		  <input id="id_cantidad" type="text" name="cantidad" class="from-input" required/>
		</div>
		<div class="item">
		  <label for="Precio">Precio Venta Publico<span>*</span></label>
		  <input id="id_precio" type="text" name="precio" step="0.01" required/>
		</div>
		<div class="item">
		  <label for="Precio Costo">Costo Origen<span>*</span></label>
		  <input id="id_precio_costo" type="text" step="0.01"  name="precio_costo" required/>
		</div>
	  </div>
	
	  <div class="item">
		<label for="visit">Comentarios Especiales</label>
		<textarea id="" rows="3"></textarea>
	  </div>
	  <div class="btn-block">
		<button type="submit" href="/">Finalizar</button>
	  </div>
	</form>
  </div>




{%endblock%}


