<!DOCTYPE html>
<html lang="en">
<head>

	{%load static%}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	{%block title%}<title>VerdeBoutique</title>{%endblock%}

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{%static 'Tienda/assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{%static 'Tienda/assets/css/responsive.css' %}">

</head>


<body>
	
	{%block header%}
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{%url 'Home'%}">
								<img src="{% static 'Tienda/assets/img/GreenFruitLogo4.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="">Home</a>
									
								</li>
								<li><a href="{%url 'NosL' %}">Nosotros</a>
									<ul class="sub-menu">
										<li><a href="">Staff</a></li>
										{%if user.is_staff%}
										<li><a href="">Añadir Staff</a></li>
										{%endif%}
									</ul>
								</li>
								<li><a href="{%url 'PrdL'%}">Productos</a>
									<ul class="sub-menu">
										<li><a href="">Lacteos</a></li>
										<li><a href="">Frutas</a></li>
										<li><a href="">Verduras</a></li>
										<li><a href="">Otros</a></li>
										{%if user.is_staff%}
										<li><a href="{%url 'Agregar' %}">Añadir Producto</a></li>
										<li><a href="{%url 'StockA' %}">Stock Activo</a></li>
										<li><a href="{%url 'Cats' %}">Categorias</a></li>
										{%endif%}
										
									</ul>
								</li>
								<li><a href="">Nuestros Proveedores</a>
									<ul class="sub-menu">
											<li><a href="">¿Quienes son?</a></li>
										{%if user.is_staff %}
										<li><a href="{%url 'Proveedor' %}">Proveedores</a></li>
										<li><a href="{%url 'Agregar' %}">Añadir Proveedores</a></li>
										{%endif%}
									</ul>
								</li>
								<li><a href="">Comprar</a></li>

								<li><a href="" class="fas fa-user-circle"></a>
									<ul class="sub-menu">
										{%if request.user.is_authenticated %}
										<li>{{user.username}}</li>
										{%endif%}			
										<li><a href="{%url 'EdtPrf' %}">Editar Usuario</a></li>
										<li> <form action="{% url 'Logout' %}" method="POST">
												{% csrf_token %}
												<button type="submit">
													<i class="fas fa-sign-out-alt">Logout</i></button>    
											</form>
										
										</li>
									</ul>
								</li>
								{%if request.user.is_authenticated %}
								</a><img src="{{url}}" alt="" width="40ppx" height="40ppx">
								{%endif%}						
								<li>
									<div class="header-icons">
										
									</div>
								</li>
							</ul>
							
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	{%endblock%}
	{%block search%}
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->
	{%endblock%}
	{%block hero%}
	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Fresh & Organic</p>
							<h1>Delicious Seasonal Fruits</h1>
							<div class="hero-btns">
								<a href="" class="boxed-btn">Fruit Collection</a>
								<a href="" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->
	{%endblock%}

</body>
</html>