<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
</head>
<body>
    <h1>Crear Producto</h1>
    <form method="POST">
		{% csrf_token %}
		<p class="form-label">Nombre</p>
		<input type="text" id="id_nombre" name="nombre" class="form-input" required>
	
		<p class="form-label">Cantidad</p>
		<input type="number" id="id_cantidad" name="cantidad" class="form-input" required>
	
		<p class="form-label">Precio</p>
		<input type="number" id="id_precio" name="precio" step="0.01" class="form-input" required>
	
		<p class="form-label">Precio Costo</p>
		<input type="number" id="id_precio_costo" name="precio_costo" step="0.01" class="form-input" required>
	
		<p class="form-label">Categorías</p>
		<select name="categorias">
			{% for categoria in categorias %}
				<option value="{{ categoria.pk }}">{{ categoria.nombre }}</option>
			{% endfor %}
		</select>
	
		<button type="submit" class="form-submit">Aplicar</button>
	</form>
</body>
</html>